<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Your Entries</title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
    <div class="all-entrys-body">
      <div class="all-entrys-header">
        <h1>Your Entries</h1>

        <a class="add-entry-link" href="/users/<%=user._id%>/entrys/new">Add an Entry</a>

      </div>
      <div class="entries-container">
        <ul>
          <% entrys.forEach((entry)=>{ %>

            <li>

              <a href="/users/<%= user._id %>/entrys/<%= entry._id %>">
                <%= entry.entry %>
              </a>
            </li>
            <% }) %>

        </ul>
      </div>
    </div>
</body>

</html>