<!-- views/applications/show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= entry.entry %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= entry.entry %> </h1>
    <% if (entry.entry) { %>
    <p>Date: <%= entry.date %></p>
    <% } %>
    <p>Visibility: <%= entry.public %></p>
    <a href="/users/<%= user._id %>/entrys/<%= entry._id %>/edit">
        Append this Entry
      </a>
    <form
    action="/users/<%= user._id %>/entrys/<%= entry._id %>?_method=DELETE"
    method="POST"
  >
    <button type="submit">Delete this Entry</button>
  </form>
  </body>
</html>
