<!-- views/applications/show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= entry.entry %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= entry.entry %> </h1>
    <% if (entry.entry) { %>
    <p>Date: <%= entry.date %></p>
    <% } %>
    <p>Shared to Community: <%= entry.public %></p>
  </body>
</html>
