<!-- views/applications/show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/show.css" />
    <title><%= entry.entry %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="show-body">
      <div class="show-header">
        <p><strong>Prompt: </strong><%=entry.prompt.question%>  </p>
    <div class="show-sidebar"> 
      <div class="show-actions"> 
        <a
              <%  { %>
              </p><strong>Answer: </strong> <%= entry.entry %></p>
                  <% } %>
    <% if (entry.entry) { %>
      <p>Date: <%= new Date(entry.date).toISOString().split('T')[0] %></p>

    <% } %>
    <p>Visibility: <%= entry.public %></p>
>
    <a href="/users/<%= user._id %>/entrys/<%= entry._id %>/edit">
      Append this Entry
  
    </a>
    <form action="/users/<%= user._id %>/entrys/<%= entry._id %>?_method=DELETE" 
      method="POST"
      >
      <button type="submit">Delete this Entry</button>
    </form>
  </div> 
  </div>
  </div>
  </body>
</html>

